<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show Contact</title>
</head>
<body>

  <h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
  <p><strong>Email:</strong> <%= @contact.email %></p>
  <p><strong>Note:</strong></p>
  <p><%= @contact.note %></p>

  <form action='/contacts/<%= @contact.id %>' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete Contact'>
  </form>

<!-- You can also add a helpful link for your users on the individual contacts page views/show_contact.erb.
Add a link to the edit page for that user, so that your users can go directly to the edit from after
viewing a contact. -->

</body>
</html>
